{
    "targets": [
        {
            "url": "https://google.com",
            "check_for_img_alt_attributes": 0,
            "max_depth": 5
        }
    ],
    "headers": {
        "user-agent": "Web Spider/0.1.0 (github.com/rudissaar/web-spider)"
    }
}
