{
    "targets": [
        {
            "url": "https://www.imdb.com",
            "recursive": true,
            "fetch_urls": true,
            "fetch_emails": true,
            "fetch_comments": true
        },
        {
            "skip": true,
            "url": "https://google.com",
            "recursive": false,
            "fetch_urls": false,
            "fetch_emails": true
        }
    ],
    "headers": {
        "user-agent": "Web Spider/0.1.0 (github.com/rudissaar/web-spider)"
    },
    "escaped_email_symbols": [
        "[at]"
    ]
}
